body {
  background-color: #f3f7f8 !important;
}
/* Navbar */
.navBarCollapse {
  justify-content: end;
}
@media (max-width: 768px) {
  .navBarCollapse {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
  }
}
.navBarCollapse {
  flex: initial;
}
.navbarToggeler {
  border: none !important;
  box-shadow: none !important;
}
/* Navbar */
/* Start Side Bar Accordination */
.accordion-item {
  border: none !important;
  background-color: #2e393d !important;
}
.accordion-button::after {
  color: white !important;
}
.accordion-item:last-of-type > .accordion-header .accordion-button {
  box-shadow: none !important;
  font-size: 12px;
  padding: 8px 5px 8px 20px;
  background-color: #2e393d !important;
  color: white !important;
  border: none !important;
  outline: none !important;
}
.accordion-button::after {
  filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%)
    hue-rotate(33deg) brightness(106%) contrast(100%);
  margin: 0 0 0 4px !important;
  background-size: 12px !important;
  background-position: center center;
}
.accordion-body {
  padding-top: 0px !important;
}
/* End Side Bar Accordination */

/* Start Add Partner */
.required-filed {
  font-size: 12px;
  text-align: end;
}
@media (max-width: 768px) {
  .stepper {
    display: none;
  }
  .sidebar {
    position: fixed !important;
    margin-top: 40px;
    z-index: 99;
  }
  .navbar-expand {
    left: 0;
    right: 0;
    position: fixed !important;
    z-index: 100;
  }
  .add-partner {
    margin-top: 50px;
  }
  .logoLink {
    display: none;
  }
}
/* End Add Partner */
